<div class='swiper-main__slide swiper-slide'>
  <section class='swiper-main__additional-services additional-services'>
    <picture
      style="
        background-image: url('/img/additional-services/additional-services-bg-mini.jpg');
      "
      class='additional-services__image-bg-wrapper lazy-loading-img-wrapper'
    >
      <source
        type='image/webp'
        srcset='
          /img/additional-services/additional-services-bg.webp    1x,
          /img/additional-services/additional-services-bg@2x.webp 2x
        '
      />
      <img
        loading='lazy'
        class='additional-services__image-bg lazy-loading-img'
        srcset='
          /img/additional-services/additional-services-bg.jpg    1x,
          /img/additional-services/additional-services-bg@2x.jpg 2x
        '
        alt='img'
      />
    </picture>

    <div class='additional-services__container'>
      <div class='additional-services__body'>
        <div class='additional-services__row additional-services__row_first'>
          <button
            class='additional-services__image-container additional-services__image-container_odd additional-services__image-container_broadcast'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_broadcast'
            >
              <h1 class='additional-services__image-text'>
                Online broadcast of repair
              </h1>

              <picture
                style="
                  background-image: url('/img/additional-services/additional-services__image_broadcast-mini.jpg');
                "
                class='additional-services__image-picture additional-services__image-picture_broadcast lazy-loading-img-wrapper'
              >
                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_broadcast.webp    1x,
                    /img/additional-services/additional-services__image_broadcast@2x.webp 2x
                  '
                  media='(min-width: 1025px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_furniture-medium.webp    1x,
                    /img/additional-services/additional-services__image_furniture-medium@2x.webp 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_broadcast-small.webp    1x,
                    /img/additional-services/additional-services__image_broadcast-small@2x.webp 2x
                  '
                  media='(max-width: 450px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_furniture.jpg           1x,
                    /img/additional-services/additional-services__image_furniture-medium@2x.jpg 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_broadcast-small.jpg    1x,
                    /img/additional-services/additional-services__image_broadcast-small@2x.jpg 2x
                  '
                  media='(max-width: 450px)'
                />

                <img
                  loading='lazy'
                  class='additional-services__image lazy-loading-img'
                  srcset='
                    img/additional-services/additional-services__image_broadcast.jpg    1x,
                    img/additional-services/additional-services__image_broadcast@2x.jpg 2x
                  '
                  alt='img'
                />
              </picture>
            </section>
          </button>

          <button
            class='additional-services__image-container additional-services__image-container_video'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_video'
            >
              <h1 class='additional-services__image-text'>
                Video- surveillance and alarm
              </h1>

              <picture
                style="
                  background-image: url('/img/additional-services/additional-services__image_video-mini.jpg');
                "
                class='additional-services__image-picture additional-services__image-picture_video lazy-loading-img-wrapper'
              >
                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_video.webp    1x,
                    /img/additional-services/additional-services__image_video@2x.webp 2x
                  '
                  media='(min-width: 1025px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_video-medium.webp    1x,
                    /img/additional-services/additional-services__image_video-medium@2x.webp 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_furniture-small.webp    1x,
                    /img/additional-services/additional-services__image_furniture-small@2x.webp 2x
                  '
                  media='(max-width: 450px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_video.jpg           1x,
                    /img/additional-services/additional-services__image_video-medium@2x.jpg 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_furniture-small.jpg    1x,
                    /img/additional-services/additional-services__image_furniture-small@2x.jpg 2x
                  '
                  media='(max-width: 450px)'
                />

                <img
                  loading='lazy'
                  class='additional-services__image lazy-loading-img'
                  srcset='
                    img/additional-services/additional-services__image_video.jpg    1x,
                    img/additional-services/additional-services__image_video@2x.jpg 2x
                  '
                  alt='img'
                />
              </picture>
            </section>
          </button>

          <button
            class='additional-services__image-container additional-services__image-container_odd additional-services__image-container_furniture'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_furniture'
            >
              <h1 class='additional-services__image-text'>
                Selection of furniture
              </h1>

              <picture
                style="
                  background-image: url('/img/additional-services/additional-services__image_furniture-mini.jpg');
                "
                class='additional-services__image-picture additional-services__image-picture_furniture lazy-loading-img-wrapper'
              >
                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_furniture.webp    1x,
                    /img/additional-services/additional-services__image_furniture@2x.webp 2x
                  '
                  media='(min-width: 1025px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_furniture-medium.webp    1x,
                    /img/additional-services/additional-services__image_furniture-medium@2x.webp 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_furniture-small.webp    1x,
                    /img/additional-services/additional-services__image_furniture-small@2x.webp 2x
                  '
                  media='(max-width: 450px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_furniture.jpg           1x,
                    /img/additional-services/additional-services__image_furniture-medium@2x.jpg 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_furniture-small.jpg    1x,
                    /img/additional-services/additional-services__image_furniture-small@2x.jpg 2x
                  '
                  media='(max-width: 450px)'
                />

                <img
                  loading='lazy'
                  class='additional-services__image lazy-loading-img'
                  srcset='
                    img/additional-services/additional-services__image_furniture.jpg    1x,
                    img/additional-services/additional-services__image_furniture@2x.jpg 2x
                  '
                  alt='img'
                />
              </picture>
            </section>
          </button>
        </div>

        <div class='additional-services__row additional-services__row_second'>
          <button
            class='additional-services__image-container additional-services__image-container_household'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_household'
            >
              <h1 class='additional-services__image-text'>
                Household appliances
              </h1>

              <picture
                style="
                  background-image: url('/img/additional-services/additional-services__image_household-mini.jpg');
                "
                class='additional-services__image-picture additional-services__image-picture_household lazy-loading-img-wrapper'
              >
                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_household.webp    1x,
                    /img/additional-services/additional-services__image_household@2x.webp 2x
                  '
                  media='(min-width: 1025px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_household-medium.webp    1x,
                    /img/additional-services/additional-services__image_household-medium@2x.webp 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_broadcast-small.webp    1x,
                    /img/additional-services/additional-services__image_broadcast-small@2x.webp 2x
                  '
                  media='(max-width: 450px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_household.jpg           1x,
                    /img/additional-services/additional-services__image_household-medium@2x.jpg 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_broadcast-small.jpg    1x,
                    /img/additional-services/additional-services__image_broadcast-small@2x.jpg 2x
                  '
                  media='(max-width: 450px)'
                />

                <img
                  loading='lazy'
                  class='additional-services__image lazy-loading-img'
                  srcset='
                    img/additional-services/additional-services__image_household.jpg    1x,
                    img/additional-services/additional-services__image_household@2x.jpg 2x
                  '
                  alt='img'
                />
              </picture>
            </section>
          </button>

          <button
            class='additional-services__image-container additional-services__image-container_last-odd additional-services__image-container_odd additional-services__image-container_ultra'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_ultra'
            >
              <h1 class='additional-services__image-text'>Ultra service</h1>

              <picture
                style="
                  background-image: url('/img/additional-services/additional-services__image_ultra-mini.jpg');
                "
                class='additional-services__image-picture additional-services__image-picture_ultra lazy-loading-img-wrapper'
              >
                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_ultra.webp    1x,
                    /img/additional-services/additional-services__image_ultra@2x.webp 2x
                  '
                  media='(min-width: 1025px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_ultra-medium.webp    1x,
                    /img/additional-services/additional-services__image_ultra-medium@2x.webp 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/webp'
                  srcset='
                    /img/additional-services/additional-services__image_furniture-small.webp    1x,
                    /img/additional-services/additional-services__image_furniture-small@2x.webp 2x
                  '
                  media='(max-width: 450px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_ultra.jpg           1x,
                    /img/additional-services/additional-services__image_ultra-medium@2x.jpg 2x
                  '
                  media='(min-width: 451px) and (max-width: 1024px)'
                />

                <source
                  type='image/jpeg'
                  srcset='
                    /img/additional-services/additional-services__image_furniture-small.jpg    1x,
                    /img/additional-services/additional-services__image_furniture-small@2x.jpg 2x
                  '
                  media='(max-width: 450px)'
                />

                <img
                  loading='lazy'
                  class='additional-services__image lazy-loading-img'
                  srcset='
                    img/additional-services/additional-services__image_ultra.jpg    1x,
                    img/additional-services/additional-services__image_ultra@2x.jpg 2x
                  '
                  alt='img'
                />
              </picture>
            </section>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-video'
  >
    <div class='additional-services-popup__body'>
      <h1 class='additional-services-popup__title'>
        additional-services-popup
      </h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-video'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>

  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-broadcast'
  >
    <div class='additional-services-popup__body'>
      <h1 class='additional-services-popup__title'>broadcast</h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-broadcast'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>

  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-furniture'
  >
    <div class='additional-services-popup__body'>
      <h1 class='additional-services-popup__title'>furniture</h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-furniture'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>

  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-household'
  >
    <div class='additional-services-popup__body'>
      <h1 class='additional-services-popup__title'>household</h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-household'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>

  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-ultra'
  >
    <div class='additional-services-popup__body'>
      <h1 class='additional-services-popup__title'>ultra</h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-ultra'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>

</div>