<div class='swiper-main__slide swiper-slide'>
  <section class='swiper-main__additional-services additional-services'>

    <picture
      style="background-image:url('img/additional-services/additional-services-small-bg.jpg')"
      class='additional-services__image-bg-wrapper lazy-loading-img-wrapper'
    >
      <source
        type='image/webp'
        srcset='/img/additional-services/additional-services-bg.webp'
      />
      <img
        loading='lazy'
        class='additional-services__image-bg lazy-loading-img'
        src='/img/additional-services/additional-services-bg.jpg'
        alt='img'
      />
    </picture>

    <div class='additional-services__container'>
      <div class='additional-services__body'>
        <div class='additional-services__row additional-services__row_first'>
          <button
            class='additional-services__image-container additional-services__image-container_odd additional-services__image-container_broadcast'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_broadcast'
            >
              <h1 class='additional-services__image-text'>Online broadcast of
                repair</h1>

              <picture
                class='additional-services__image-picture additional-services__image-picture_broadcast'
              >
                <source
                  type='image/webp'
                  srcset='img/additional-services/additional-services__image_broadcast.webp'
                />
                <img
                  class='additional-services__image'
                  src='img/additional-services/additional-services__image_broadcast.jpg'
                  alt='img'
                />
              </picture>
            </section>
          </button>

          <button
            class='additional-services__image-container additional-services__image-container_video'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_video'
            >
              <h1 class='additional-services__image-text'>Video- surveillance
                and alarm</h1>

              <picture
                class='additional-services__image-picture additional-services__image-picture_video'
              >
                <source
                  type='image/webp'
                  srcset='img/additional-services/additional-services__image_video.webp'
                />
                <img
                  class='additional-services__image'
                  src='img/additional-services/additional-services__image_video.jpg'
                  alt='img'
                />
              </picture>
            </section>
          </button>

          <button
            class='additional-services__image-container additional-services__image-container_odd additional-services__image-container_furniture'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_furniture'
            >
              <h1 class='additional-services__image-text'>Selection of furniture</h1>

              <picture
                class='additional-services__image-picture additional-services__image-picture_furniture'
              >
                <source
                  type='image/webp'
                  srcset='img/additional-services/additional-services__image_furniture.webp'
                />
                <img
                  class='additional-services__image'
                  src='img/additional-services/additional-services__image_furniture.jpg'
                  alt='img'
                />
              </picture>
            </section>
          </button>
        </div>

        <div class='additional-services__row additional-services__row_second'>
          <button
            class='additional-services__image-container additional-services__image-container_household'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_household'
            >
              <h1 class='additional-services__image-text'>Household appliances</h1>

              <picture
                class='additional-services__image-picture additional-services__image-picture_household'
              >
                <source
                  type='image/webp'
                  srcset='img/additional-services/additional-services__image_household.webp'
                />
                <img
                  class='additional-services__image'
                  src='img/additional-services/additional-services__image_household.jpg'
                  alt='img'
                />
              </picture>
            </section>
          </button>

          <button
            class='additional-services__image-container additional-services__image-container_last-odd additional-services__image-container_odd additional-services__image-container_ultra'
          >
            <section
              class='additional-services__image-wrapper additional-services__image-wrapper_ultra'
            >
              <h1 class='additional-services__image-text'>Ultra service</h1>

              <picture
                class='additional-services__image-picture additional-services__image-picture_ultra'
              >
                <source
                  type='image/webp'
                  srcset='img/additional-services/additional-services__image_ultra.webp'
                />
                <img
                  class='additional-services__image'
                  src='img/additional-services/additional-services__image_ultra.jpg'
                  alt='img'
                />
              </picture>
            </section>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-video'
  >
    <div class='additional-services-popup__body'>
      <h1
        class='additional-services-popup__title'
      >additional-services-popup</h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-video'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>

  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-broadcast'
  >
    <div class='additional-services-popup__body'>
      <h1 class='additional-services-popup__title'>broadcast</h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-broadcast'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>

  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-furniture'
  >
    <div class='additional-services-popup__body'>
      <h1 class='additional-services-popup__title'>furniture</h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-furniture'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>
  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-household'
  >
    <div class='additional-services-popup__body'>
      <h1 class='additional-services-popup__title'>household</h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-household'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>
  <section
    class='swiper-main__additional-services-popup additional-services-popup additional-services-popup-ultra'
  >
    <div class='additional-services-popup__body'>
      <h1 class='additional-services-popup__title'>ultra</h1>

      <p class='additional-services-popup__text'>
        Purchase, installation and setup of video surveillance, both open and
        hidden, for indoor and outdoor use. Help with registering the system on
        the security panel. use. Help with registering the system on the
        security panel.
      </p>

      <button
        class='additional-services-popup__close-button additional-services-popup__close-button-ultra'
      >
        <svg class='additional-services-popup__close-button-icon'>
          <use
            xlink:href='/icons/sprite.svg#additional-services-popup__close-button-icon'
          ></use>
        </svg>
      </button>
    </div>
  </section>

  <section
    class='swiper-slide-contact-form contact-form contact-form-additonal-services'
  >
    <form class='contact-form__body'>
      <div class='contact-form__item contact-form__item_input'>
        <input class='contact-form__input' placeholder='Your name' />
        <p type='number' class='contact-form__input-error-text'>Заполните,
          пожалуйста, это поле.</p>
      </div>

      <div class='contact-form__item contact-form__item_input'>
        <input
          class='contact-form__input contact-form__input_modified'
          placeholder='Your phone number'
        />
        <p type='number' class='contact-form__input-error-text'>Заполните,
          пожалуйста, это поле.</p>
      </div>

      <div class='contact-form__item'>
        <button class='contact-form__button' type='submit'>
          <span>
            Discuss a Project
          </span>

          <div class='contact-form__button-arrow-wrapper'>
            <svg class='contact-form__button-arrow'>
              <use
                xlink:href='/icons/sprite.svg#contact-form__button-arrow'
              ></use>
            </svg>
          </div>
        </button>
      </div>
    </form>
  </section>
</div>