<form class='contact-form__body'>
  <div class='contact-form__item contact-form__item_name'>
    <input class='contact-form__input' placeholder='Your name' />

    <span class='contact-form__input-error-text'>
      Заполните, пожалуйста, это поле.
    </span>
  </div>

  <div class='contact-form__item contact-form__item_phone'>
    <input
      class='contact-form__input contact-form__input_modified'
      placeholder='Your phone number'
    />

    <span class='contact-form__input-error-text'>
      Заполните, пожалуйста, это поле.
    </span>
  </div>

  <div class='contact-form__item'>
    <button class='contact-form__button' type='submit'>
      <span> Discuss a Project </span>

      <div class='contact-form__button-arrow-wrapper'>
        <svg class='contact-form__button-arrow'>
          <use xlink:href='/icons/sprite.svg#contact-form__button-arrow'></use>
        </svg>
      </div>
    </button>
  </div>
</form>