<header class='header'>
  <div class='header__container'>
    <div class='header__body'>
      <div class='header__items'>
        <div class='header__item header__item_logo'>
          <img
            src='/img/header/header-logo-png.png'
            alt='logo'
            class='header__logo-img'
          />
        </div>

        <div class='header__item'>
          <div class='header__burger-icon'>
            <span></span>
          </div>
        </div>

        <div class='header__item header__item_large'>
          <div class='header__call call-header'>

            <div class='call-header__number-wrapper'>
              <a class='call-header__number' href='tel:+380971234567'>+38 (097)
                123 45 67</a>

            </div>

            <p class='call-header__text'>request for a call</p>

            <div class='call-header__call-icon-container'>
              <div class='call-header__call-icon-wrapper'>
                <svg class='call-header__call-icon'>
                  <use xlink:href='/icons/sprite.svg#header-call-icon'></use>
                </svg>
              </div>
            </div>
          </div>
          <!-- <div class="header__item"></div> -->
        </div>

        <div class='header__item item-burger-header'>

          <div class='item-burger-header__body'>

            <div class='item-burger-header__row item-burger-header__row_large'>
              <nav class='item-burger-header__nav nav-item-burger-header'>
                <ul class='nav-item-burger-header__items'>
                  <li class='nav-item-burger-header__item'>
                    <a class='nav-item-burger-header__link' href='#'>
                      <p class='nav-item-burger-header__link-text'>
                        styles of rennovation

                        <svg class='nav-item-burger-header__link-arrow'>
                          <use
                            xlink:href='/icons/sprite.svg#nav-item-burger-header__link-arrow'
                          ></use>
                        </svg>
                      </p>
                    </a>

                  </li>

                  <li class='nav-item-burger-header__item'>
                    <a class='nav-item-burger-header__link' href='#'>
                      <p class='nav-item-burger-header__link-text'>
                        Costs

                        <svg class='nav-item-burger-header__link-arrow'>
                          <use
                            xlink:href='/icons/sprite.svg#nav-item-burger-header__link-arrow'
                          ></use>
                        </svg>
                      </p>
                    </a>
                  </li>

                  <li class='nav-item-burger-header__item'>
                    <a class='nav-item-burger-header__link' href='#'>
                      <p class='nav-item-burger-header__link-text'>
                        <span>

                          5 steps
                        </span>

                        <span>
                          to WALTER HOUSE
                        </span>

                        <svg class='nav-item-burger-header__link-arrow'>
                          <use
                            xlink:href='/icons/sprite.svg#nav-item-burger-header__link-arrow'
                          ></use>
                        </svg>
                      </p>
                    </a>
                  </li>

                  <li class='nav-item-burger-header__item'>
                    <a class='nav-item-burger-header__link' href='#'>
                      <p class='nav-item-burger-header__link-text'>
                        additional services

                        <svg class='nav-item-burger-header__link-arrow'>
                          <use
                            xlink:href='/icons/sprite.svg#nav-item-burger-header__link-arrow'
                          ></use>
                        </svg>
                      </p>
                    </a>
                  </li>
                  <li
                    class='nav-item-burger-header__item nav-item-burger-header__item_blocked'
                  >
                    <a class='nav-item-burger-header__link' href='#'>
                      <p
                        class='nav-item-burger-header__link-text nav-item-burger-header__link-text_blocked'
                      >
                        BLOG

                        <svg class='nav-item-burger-header__link-arrow'>
                          <use
                            xlink:href='/icons/sprite.svg#nav-item-burger-header__link-arrow'
                          ></use>
                        </svg>
                      </p>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

            <div class='item-burger-header__row'>
              <div class='item-burger-header__info info-item-burger-header'>
                <div class='info-item-burger-header__row'>
                  <div class='info-item-burger-header__heading-items'>
                    <img
                      src='/img/header/header-logo-png-white.png'
                      alt='logo'
                      class='info-item-burger-header__heading-logo'
                    />

                    <div
                      href='#'
                      class='info-item-burger-header__heading-text-wrapper'
                    >
                      <a class='info-item-burger-header__heading-link'>turnkey
                        construction of houses
                      </a>

                      <a
                        href='#'
                        class='info-item-burger-header__headig-link-icon-wrapper'
                      >
                        <svg class='info-item-burger-header__heading-link-icon'>
                          <use
                            xlink:href='/icons/sprite.svg#info-item-burger-header__heading-text-icon'
                          ></use>
                        </svg>
                      </a>
                    </div>
                  </div>

                </div>
                <div class='info-item-burger-header__row'>
                  <div
                    class='info-item-burger-header__info details-info-item-burger-header'
                  >
                    <div class='details-info-item-burger-header__item'>
                      <svg class='details-info-item-burger-header__item-icon'>
                        <use
                          xlink:href='/icons/sprite.svg#details-info-item-burger-header__item-icon-location'
                        >
                        </use>
                      </svg>

                      <a
                        href='https://www.google.com/maps?q=50.450001,30.523333'
                        target='_blank'
                        class='details-info-item-burger-header__item-text details-info-item-burger-header__item-text_link'
                      >Kiev, st. Getman Street 101</a>
                    </div>

                    <div class='details-info-item-burger-header__item'>
                      <svg class='details-info-item-burger-header__item-icon'>
                        <use
                          xlink:href='/icons/sprite.svg#details-info-item-burger-header__item-icon-time'
                        ></use>
                      </svg>

                      <p
                        class='details-info-item-burger-header__item-text'
                      >Mon-Fri: 9:00 - 19:00, Sat: 10:00 - 17:00</p>
                    </div>

                    <div class='details-info-item-burger-header__item'>
                      <svg class='details-info-item-burger-header__item-icon'>
                        <use
                          xlink:href='/icons/sprite.svg#details-info-item-burger-header__item-icon-email'
                        ></use>
                      </svg>

                      <a
                        href='mailto:info@dhs.com'
                        class='details-info-item-burger-header__item-text details-info-item-burger-header__item-text_link'
                      >info@dhs.com</a>
                    </div>

                    <div class='details-info-item-burger-header__item'>
                      <svg class='details-info-item-burger-header__item-icon'>
                        <use
                          xlink:href='/icons/sprite.svg#details-info-item-burger-header__item-icon-phone'
                        ></use>
                      </svg>

                      <a
                        href='tel:+380971234567'
                        class='details-info-item-burger-header__item-text details-info-item-burger-header__item-text_link'
                      >+38 (097) 123 45 67</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>