<div class='swiper-main__slide swiper-slide'>
  <section class='swiper-slide__renovation-styles renovation-styles'>
    <div class='renovation-styles__body'>
      <div class='renovation-styles__items'>
        <div class='renovation-styles__item'>
          <div
            class='renovation-styles__content renovation-styles__content_elite'
          >
            <div class='renovation-styles__wrapper'>
              <div class='renovation-styles__column'>
                <div class='renovation-styles__style-type'>Elite</div>
              </div>

              <div
                class='renovation-styles__column renovation-styles__column_hidden'
              >
                <div class='renovation-styles__style-items'>
                  <p class='renovation-styles__style-text'>
                    THE Elite STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE
                    FOR THOSE WHO WANTS TO GET THE PERFECT RESULT.
                  </p>

                  <button
                    class='renovation-styles__style-button renovation-styles__style-button_gallery'
                  >
                    <span>
                      gallery
                    </span>

                    <svg
                      class='label-items-left-panel__label label-items-left-panel__label_facebook'
                    >
                      <use
                        xlink:href='/icons/sprite.svg#label-items-left-panel__label-facebook'
                      ></use>
                    </svg>

                  </button>

                  <button
                    class='renovation-styles__style-button renovation-styles__style-button_services'
                  >
                    <span>
                      list of services
                    </span>

                    <svg
                      class='label-items-left-panel__label label-items-left-panel__label_facebook'
                    >
                      <use
                        xlink:href='/icons/sprite.svg#label-items-left-panel__label-facebook'
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='renovation-styles__item'>
          <div
            class='renovation-styles__content renovation-styles__content_vip'
          >
            <div class='renovation-styles__wrapper'>
              <div class='renovation-styles__column'>
                <p
                  class='renovation-styles__style-type renovation-styles__style-type_orange'
                >VIP</p>
              </div>
            </div>

            <div
              class='renovation-styles__column renovation-styles__column_hidden'
            >
              <div class='renovation-styles__style-items'>
                <p class='renovation-styles__style-text'>
                  THE VIP STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE FOR
                  THOSE WHO WANTS TO GET THE PERFECT RESULT.
                </p>

                <button
                  class='renovation-styles__style-button renovation-styles__style-button_gallery'
                >
                  <span>
                    gallery
                  </span>

                  <svg
                    class='label-items-left-panel__label label-items-left-panel__label_facebook'
                  >
                    <use
                      xlink:href='/icons/sprite.svg#label-items-left-panel__label-facebook'
                    ></use>
                  </svg>

                </button>

                <button
                  class='renovation-styles__style-button renovation-styles__style-button_services'
                >
                  <span>
                    list of services
                  </span>

                  <svg
                    class='label-items-left-panel__label label-items-left-panel__label_facebook'
                  >
                    <use
                      xlink:href='/icons/sprite.svg#label-items-left-panel__label-facebook'
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class='renovation-styles__item'>
          <div
            class='renovation-styles__content renovation-styles__content_extra'
          >
            <div class='renovation-styles__wrapper'>
              <div class='renovation-styles__column'>
                <div class='renovation-styles__style-type'>extra</div>
              </div>

              <div
                class='renovation-styles__column renovation-styles__column_hidden'
              >
                <div class='renovation-styles__style-items'>
                  <p class='renovation-styles__style-text'>
                    THE Extra STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE
                    FOR THOSE WHO WANTS TO GET THE PERFECT RESULT.
                  </p>

                  <button
                    class='renovation-styles__style-button renovation-styles__style-button_gallery'
                  >
                    <span>
                      gallery
                    </span>

                    <svg
                      class='label-items-left-panel__label label-items-left-panel__label_facebook'
                    >
                      <use
                        xlink:href='/icons/sprite.svg#label-items-left-panel__label-facebook'
                      ></use>
                    </svg>
                  </button>

                  <button
                    class='renovation-styles__style-button renovation-styles__style-button_services'
                  >
                    <span>
                      list of services
                    </span>

                    <svg
                      class='label-items-left-panel__label label-items-left-panel__label_facebook'
                    >
                      <use
                        xlink:href='/icons/sprite.svg#label-items-left-panel__label-facebook'
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>