<div class='swiper-main__slide swiper-slide swiper-slide-hide-laptop'>
  <section class='swiper-slide__renovation renovation'>
    <picture
      style="background-image:url('img/renovation/renovation-bg-small.jpg')"
      class='renovation__image-bg-wrapper lazy-loading-img-wrapper'
    >
      <source type='image/webp' srcset='/img/renovation/renovation-bg.webp' />
      <img
        loading='lazy'
        class='renovation__image-bg lazy-loading-img'
        src='/img/renovation/renovation-bg.jpg'
        alt='img'
      />
    </picture>

    <div class='renovation__container'>
      <div class='renovation__body'>
        <h1 class='renovation__title'>elite renovation of your apartment</h1>

        <div class='renovation__items'>
          <div class='renovation__item'>
            <p class='renovation__stat-count'>18</p>

            <p class='renovation__stat-name'>
              <span>
                years
              </span>

              <span>
                on the market
              </span>
            </p>
          </div>

          <div class='renovation__item'>
            <p class='renovation__stat-count'>237</p>

            <p class='renovation__stat-name'>completed projects</p>
          </div>

          <div class='renovation__item'>
            <p class='renovation__stat-count'>50</p>

            <p class='renovation__stat-name'>employees</p>
          </div>
        </div>

        <a class='renovation__link'>
          <span>more info about us</span>

          <svg class='renovation__link-arrow'>
            <use xlink:href='/icons/sprite.svg#renovation__link-arrow'></use>
          </svg>
        </a>
      </div>
    </div>

    <section class='swiper-slide__renovation-contact-form contact-form'>
      <form class='contact-form__body'>
        <div class='contact-form__item contact-form__item_input'>
          <input class='contact-form__input' placeholder='Your name' />
          <p type='number' class='contact-form__input-error-text'>Заполните,
            пожалуйста, это поле.</p>
        </div>

        <div class='contact-form__item contact-form__item_input'>
          <input
            class='contact-form__input contact-form__input_modified'
            placeholder='Your phone number'
          />
          <p type='number' class='contact-form__input-error-text'>Заполните,
            пожалуйста, это поле.</p>
        </div>

        <div class='contact-form__item'>
          <button class='contact-form__button' type='submit'>
            <span>
              Discuss a Project
            </span>

            <div class='contact-form__button-arrow-wrapper'>
              <svg class='contact-form__button-arrow'>
                <use
                  xlink:href='/icons/sprite.svg#contact-form__button-arrow'
                ></use>
              </svg>
            </div>
          </button>
        </div>
      </form>
    </section>
  </section>

  <section class='swiper-slide-contact-form contact-form'>
    <form class='contact-form__body'>
      <div class='contact-form__item contact-form__item_input'>
        <input class='contact-form__input' placeholder='Your name' />
        <p type='number' class='contact-form__input-error-text'>Заполните,
          пожалуйста, это поле.</p>
      </div>

      <div class='contact-form__item contact-form__item_input'>
        <input
          class='contact-form__input contact-form__input_modified'
          placeholder='Your phone number'
        />
        <p type='number' class='contact-form__input-error-text'>Заполните,
          пожалуйста, это поле.</p>
      </div>

      <div class='contact-form__item'>
        <button class='contact-form__button' type='submit'>
          <span>
            Discuss a Project
          </span>

          <div class='contact-form__button-arrow-wrapper'>
            <svg class='contact-form__button-arrow'>
              <use
                xlink:href='/icons/sprite.svg#contact-form__button-arrow'
              ></use>
            </svg>
          </div>
        </button>
      </div>
    </form>
  </section>
</div>