<div class="swiper-main__slide swiper-slide">
  <section class="swiper-slide__renovation-styles renovation-styles">
    <div class="renovation-styles__body">
      <div class="renovation-styles__items">
        <div class="renovation-styles__item">
          <div class="renovation-styles__content">
            <picture
              style="
                background-image: url('img/renovation-styles/renovation-styles-bg-elite-small.jpg');
              "
              class="renovation-styles__image-bg-wrapper lazy-loading-img-wrapper renovation-styles__image-bg-wrapper_first"
            >
              <source
                type="image/webp"
                srcset="/img/renovation-styles/renovation-styles-bg-elite.webp"
              />
              <img
                loading="lazy"
                class="renovation-styles__image-bg lazy-loading-img"
                src="/img/renovation-styles/renovation-styles-bg-elite.jpg"
                alt="img"
              />
            </picture>

            <div class="renovation-styles__column">
              <div
                class="renovation-styles__wrapper renovation-styles__wrapper_first"
              >
                <div
                  class="renovation-styles__style-type renovation-styles__style-type_elite"
                >
                  Elite
                </div>
              </div>
            </div>

            <div
              class="renovation-styles__column renovation-styles__column_hidden"
            >
              <div class="renovation-styles__style-items">
                <p class="renovation-styles__style-text">
                  THE VIP STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE FOR
                  THOSE WHO WANTS TO GET THE PERFECT RESULT.
                </p>

                <button
                  class="renovation-styles__style-button renovation-styles__style-button_gallery"
                >
                  <span> gallery </span>

                  <svg class="renovation-styles__style-button-arrow-gallery">
                    <use
                      xlink:href="/icons/sprite.svg#renovation-styles__style-button-arrow-gallery"
                    ></use>
                  </svg>
                </button>

                <button
                  class="renovation-styles__style-button renovation-styles__style-button_services"
                >
                  <span> list of services </span>

                  <svg class="renovation-styles__style-button-arrow-services">
                    <use
                      xlink:href="/icons/sprite.svg#renovation-styles__style-button-arrow-services"
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="renovation-styles__item">
          <div class="renovation-styles__content">
            <picture
              style="
                background-image: url('img/renovation-styles/renovation-styles-bg-vip-small.jpg');
              "
              class="renovation-styles__image-bg-wrapper lazy-loading-img-wrapper"
            >
              <source
                type="image/webp"
                srcset="/img/renovation-styles/renovation-styles-bg-vip.webp"
              />
              <img
                loading="lazy"
                class="renovation-styles__image-bg lazy-loading-img"
                src="/img/renovation-styles/renovation-styles-bg-vip.jpg"
                alt="img"
              />
            </picture>

            <div class="renovation-styles__column">
              <div class="renovation-styles__wrapper">
                <p
                  class="renovation-styles__style-type renovation-styles__style-type_orange"
                >
                  VIP
                </p>
              </div>
            </div>

            <div
              class="renovation-styles__column renovation-styles__column_hidden"
            >
              <div class="renovation-styles__style-items">
                <p class="renovation-styles__style-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. laboris nisi
                </p>

                <button
                  class="renovation-styles__style-button renovation-styles__style-button_gallery"
                >
                  <span> gallery </span>

                  <svg class="renovation-styles__style-button-arrow-gallery">
                    <use
                      xlink:href="/icons/sprite.svg#renovation-styles__style-button-arrow-gallery"
                    ></use>
                  </svg>
                </button>

                <button
                  class="renovation-styles__style-button renovation-styles__style-button_services"
                >
                  <span> list of services </span>

                  <svg class="renovation-styles__style-button-arrow-services">
                    <use
                      xlink:href="/icons/sprite.svg#renovation-styles__style-button-arrow-services"
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="renovation-styles__item">
          <div class="renovation-styles__content">
            <picture
              style="
                background-image: url('img/renovation-styles/renovation-styles-bg-extra-small.jpg');
              "
              class="renovation-styles__image-bg-wrapper renovation-styles__image-bg-wrapper_last lazy-loading-img-wrapper"
            >
              <source
                type="image/webp"
                srcset="/img/renovation-styles/renovation-styles-bg-extra.webp"
              />
              <img
                loading="lazy"
                class="renovation-styles__image-bg lazy-loading-img"
                src="/img/renovation-styles/renovation-styles-bg-extra.jpg"
                alt="img"
              />
            </picture>

            <div class="renovation-styles__column">
              <div class="renovation-styles__wrapper">
                <div class="renovation-styles__style-type">extra</div>
              </div>
            </div>

            <div
              class="renovation-styles__column renovation-styles__column_hidden"
            >
              <div class="renovation-styles__style-items">
                <p class="renovation-styles__style-text">
                  THE VIP STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE FOR
                  THOSE WHO WANTS TO GET THE PERFECT RESULT.
                </p>

                <button
                  class="renovation-styles__style-button renovation-styles__style-button_gallery"
                >
                  <span> gallery </span>

                  <svg class="renovation-styles__style-button-arrow-gallery">
                    <use
                      xlink:href="/icons/sprite.svg#renovation-styles__style-button-arrow-gallery"
                    ></use>
                  </svg>
                </button>

                <button
                  class="renovation-styles__style-button renovation-styles__style-button_services"
                >
                  <span> list of services </span>

                  <svg class="renovation-styles__style-button-arrow-services">
                    <use
                      xlink:href="/icons/sprite.svg#renovation-styles__style-button-arrow-services"
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
