<section class='swiper-slide__renovation-styles renovation-styles'>
  <div class='renovation-styles__body'>
    <div class='renovation-styles__items'>
      <section class='renovation-styles__item'>
        <div class='renovation-styles__content'>
          <picture
            style="
                background-image: url('/img/renovation-styles/renovation-styles-bg-elite-mini.jpg');
              "
            class='renovation-styles__image-bg-wrapper lazy-loading-img-wrapper renovation-styles__image-bg-wrapper_first'
          >
            <source
              type='image/webp'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-elite.webp    1x,
                  /img/renovation-styles/renovation-styles-bg-elite@2x.webp 2x
                '
              media='(min-width: 1025px)'
            />

            <source
              type='image/webp'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-elite-medium.webp    1x,
                  /img/renovation-styles/renovation-styles-bg-elite-medium@2x.webp 2x
                '
              media='(min-width: 451px) and (max-width: 1024px)'
            />

            <source
              type='image/webp'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-elite-small.webp    1x,
                  /img/renovation-styles/renovation-styles-bg-elite-small@2x.webp 2x
                '
              media='(max-width: 450px)'
            />

            <source
              type='image/jpeg'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-elite-medium.jpg    1x,
                  /img/renovation-styles/renovation-styles-bg-elite-medium@2x.jpg 2x
                '
              media='(min-width: 451px) and (max-width: 1024px)'
            />

            <source
              type='image/jpeg'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-elite-small.jpg    1x,
                  /img/renovation-styles/renovation-styles-bg-elite-small@2x.jpg 2x
                '
              media='(max-width: 450px)'
            />

            <img
              loading='lazy'
              class='renovation-styles__image-bg lazy-loading-img'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-elite.jpg    1x,
                  /img/renovation-styles/renovation-styles-bg-elite@2x.jpg 2x
                '
              alt='img'
            />
          </picture>

          <div class='renovation-styles__column'>
            <div
              class='renovation-styles__wrapper renovation-styles__wrapper_first'
            >
              <h1
                class='renovation-styles__style-type renovation-styles__style-type_elite'
              >
                Elite
              </h1>
            </div>
          </div>

          <div
            class='renovation-styles__column renovation-styles__column_hidden'
          >
            <div class='renovation-styles__style-items'>
              <p class='renovation-styles__style-text'>
                THE VIP STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE FOR
                THOSE WHO WANTS TO GET THE PERFECT RESULT.
              </p>

              <button
                class='renovation-styles__style-button renovation-styles__style-button_gallery'
              >
                <span> gallery </span>

                <svg class='renovation-styles__style-button-arrow-gallery'>
                  <use
                    xlink:href='/icons/sprite.svg#renovation-styles__style-button-arrow-gallery'
                  ></use>
                </svg>
              </button>

              <button
                class='renovation-styles__style-button renovation-styles__style-button_services'
              >
                <span> list of services </span>

                <svg class='renovation-styles__style-button-arrow-services'>
                  <use
                    xlink:href='/icons/sprite.svg#renovation-styles__style-button-arrow-services'
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class='renovation-styles__item'>
        <div class='renovation-styles__content'>
          <picture
            style="
                background-image: url('/img/renovation-styles/renovation-styles-bg-vip-mini.jpg');
              "
            class='renovation-styles__image-bg-wrapper lazy-loading-img-wrapper'
          >
            <source
              type='image/webp'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-vip.webp    1x,
                  /img/renovation-styles/renovation-styles-bg-vip@2x.webp 2x
                '
              media='(min-width: 1025px)'
            />

            <source
              type='image/webp'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-vip-medium.webp    1x,
                  /img/renovation-styles/renovation-styles-bg-vip-medium@2x.webp 2x
                '
              media='(min-width: 451px) and (max-width: 1024px)'
            />

            <source
              type='image/webp'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-vip-small.webp    1x,
                  /img/renovation-styles/renovation-styles-bg-vip-small@2x.webp 2x
                '
              media='(max-width: 450px)'
            />

            <source
              type='image/jpeg'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-vip-medium.jpg    1x,
                  /img/renovation-styles/renovation-styles-bg-vip-medium@2x.jpg 2x
                '
              media='(min-width: 451px) and (max-width: 1024px)'
            />

            <source
              type='image/jpeg'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-vip-small.jpg    1x,
                  /img/renovation-styles/renovation-styles-bg-vip-small@2x.jpg 2x
                '
              media='(max-width: 450px)'
            />

            <img
              loading='lazy'
              class='renovation-styles__image-bg lazy-loading-img'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-vip.jpg    1x,
                  /img/renovation-styles/renovation-styles-bg-vip@2x.jpg 2x
                '
              alt='img'
            />
          </picture>

          <div class='renovation-styles__column'>
            <div class='renovation-styles__wrapper'>
              <h1
                class='renovation-styles__style-type renovation-styles__style-type_orange'
              >
                VIP
              </h1>
            </div>
          </div>

          <div
            class='renovation-styles__column renovation-styles__column_hidden'
          >
            <div class='renovation-styles__style-items'>
              <p class='renovation-styles__style-text'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. laboris nisi
              </p>

              <button
                class='renovation-styles__style-button renovation-styles__style-button_gallery'
              >
                <span> gallery </span>

                <svg class='renovation-styles__style-button-arrow-gallery'>
                  <use
                    xlink:href='/icons/sprite.svg#renovation-styles__style-button-arrow-gallery'
                  ></use>
                </svg>
              </button>

              <button
                class='renovation-styles__style-button renovation-styles__style-button_services'
              >
                <span> list of services </span>

                <svg class='renovation-styles__style-button-arrow-services'>
                  <use
                    xlink:href='/icons/sprite.svg#renovation-styles__style-button-arrow-services'
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class='renovation-styles__item'>
        <div class='renovation-styles__content'>
          <picture
            style="
                background-image: url('/img/renovation-styles/renovation-styles-bg-extra-mini.jpg');
              "
            class='renovation-styles__image-bg-wrapper renovation-styles__image-bg-wrapper_last lazy-loading-img-wrapper'
          >
            <source
              type='image/webp'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-extra.webp    1x,
                  /img/renovation-styles/renovation-styles-bg-extra@2x.webp 2x
                '
              media='(min-width: 1025px)'
            />

            <source
              type='image/webp'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-extra-medium.webp    1x,
                  /img/renovation-styles/renovation-styles-bg-extra-medium@2x.webp 2x
                '
              media='(min-width: 451px) and (max-width: 1024px)'
            />

            <source
              type='image/webp'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-extra-small.webp    1x,
                  /img/renovation-styles/renovation-styles-bg-extra-small@2x.webp 2x
                '
              media='(max-width: 450px)'
            />

            <source
              type='image/jpeg'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-extra-medium.jpg    1x,
                  /img/renovation-styles/renovation-styles-bg-extra-medium@2x.jpg 2x
                '
              media='(min-width: 451px) and (max-width: 1024px)'
            />

            <source
              type='image/jpeg'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-extra-small.jpg    1x,
                  /img/renovation-styles/renovation-styles-bg-extra-small@2x.jpg 2x
                '
              media='(max-width: 450px)'
            />

            <img
              loading='lazy'
              class='renovation-styles__image-bg lazy-loading-img'
              srcset='
                  /img/renovation-styles/renovation-styles-bg-extra.jpg    1x,
                  /img/renovation-styles/renovation-styles-bg-extra@2x.jpg 2x
                '
              alt='img'
            />
          </picture>

          <div class='renovation-styles__column'>
            <div class='renovation-styles__wrapper'>
              <h1 class='renovation-styles__style-type'>extra</h1>
            </div>
          </div>

          <div
            class='renovation-styles__column renovation-styles__column_hidden'
          >
            <div class='renovation-styles__style-items'>
              <p class='renovation-styles__style-text'>
                THE VIP STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE FOR
                THOSE WHO WANTS TO GET THE PERFECT RESULT.
              </p>

              <button
                class='renovation-styles__style-button renovation-styles__style-button_gallery'
              >
                <span> gallery </span>

                <svg class='renovation-styles__style-button-arrow-gallery'>
                  <use
                    xlink:href='/icons/sprite.svg#renovation-styles__style-button-arrow-gallery'
                  ></use>
                </svg>
              </button>

              <button
                class='renovation-styles__style-button renovation-styles__style-button_services'
              >
                <span> list of services </span>

                <svg class='renovation-styles__style-button-arrow-services'>
                  <use
                    xlink:href='/icons/sprite.svg#renovation-styles__style-button-arrow-services'
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>