<div class='swiper-main__slide swiper-slide'>
  <section class='swiper-main__steps-walter steps-walter'>
    <picture
      style="background-image: url('/img/steps-walter/steps-walter-bg-mini.jpg')"
      class='steps-walter__image-bg-wrapper lazy-loading-img-wrapper'
    >
      <source
        type='image/webp'
        srcset='/img/steps-walter/steps-walter-bg.webp'
        media='(min-width: 1025px) '
      />

      <source
        type='image/webp'
        srcset='
          /img/steps-walter/steps-walter-bg-medium.webp    1x,
          /img/steps-walter/steps-walter-bg-medium@2x.webp 2x
        '
        media='(min-width: 451px) and (max-width: 1024px)'
      />

      <source
        type='image/webp'
        srcset='
          /img/steps-walter/steps-walter-bg-small.webp    1x,
          /img/steps-walter/steps-walter-bg-small@2x.webp 2x
        '
        media='(max-width: 450px)'
      />

      <source
        type='image/jpeg'
        srcset='
          /img/steps-walter/steps-walter-bg-medium.jpg    1x,
          /img/steps-walter/steps-walter-bg-medium@2x.jpg 2x
        '
        media='(min-width: 451px) and (max-width: 1024px)'
      />

      <source
        type='image/jpeg'
        srcset='
          /img/steps-walter/steps-walter-bg-small.jpg    1x,
          /img/steps-walter/steps-walter-bg-small@2x.jpg 2x
        '
        media='(max-width: 450px)'
      />

      <img
        loading='lazy'
        class='steps-walter__image-bg lazy-loading-img'
        srcset='
          /img/steps-walter/steps-walter-bg.jpg 1x,
          /img/steps-walter/steps-walter-bg.jpg 2x
        '
        alt='img'
      />
    </picture>

    <div class='steps-walter__container'>
      <div class='steps-walter__body'>
        <div class='steps-walter__header'>
          <h1 class='steps-walter__title'>6 steps to your WALTER house:</h1>
        </div>

        <div class='steps-walter__items steps-walter__items_leave-app-active'>
          <div class='steps-walter__item'>
            <div class='steps-walter__circle-wrapper'>
              <p class='steps-walter__circle-step-text'>1</p>

              <div
                class='steps-walter__circle-wrapper-bullet steps-walter__circle-wrapper-bullet_leave-app'
              ></div>

              <div
                class='steps-walter__circle-wrapper-bullet steps-walter__circle-wrapper-bullet_check'
              ></div>
              <div
                class='steps-walter__circle-wrapper-bullet steps-walter__circle-wrapper-bullet_draft'
              ></div>

              <div
                class='steps-walter__circle-wrapper-bullet steps-walter__circle-wrapper-bullet_contract'
              ></div>

              <div
                class='steps-walter__circle-wrapper-bullet steps-walter__circle-wrapper-bullet_work'
              ></div>

              <div
                class='steps-walter__circle-wrapper-bullet steps-walter__circle-wrapper-bullet_completion'
              ></div>

              <svg class='steps-walter__circle-line-wrapper'>
                <circle
                  cx='50%'
                  cy='50%'
                  r='49%'
                  class='steps-walter__circle-line'
                ></circle>

                <circle
                  cx='50%'
                  cy='50%'
                  r='49%'
                  class='steps-walter__circle-active-line'
                ></circle>
              </svg>
            </div>
          </div>

          <div class='steps-walter__item steps-walter__item_icon'>
            <div class='steps-walter__icon-name-wrapper'>
              <svg class='steps-walter__icon'>
                <use
                  class='steps-walter__icon-img steps-walter__icon-img_leave-app'
                  xlink:href='/icons/sprite.svg#steps-walter__icon_leave-app'
                ></use>

                <use
                  class='steps-walter__icon-img steps-walter__icon-img_check'
                  xlink:href='/icons/sprite.svg#steps-walter__icon_check'
                ></use>

                <use
                  class='steps-walter__icon-img steps-walter__icon-img_draft'
                  xlink:href='/icons/sprite.svg#steps-walter__icon_draft'
                ></use>

                <use
                  class='steps-walter__icon-img steps-walter__icon-img_contract'
                  xlink:href='/icons/sprite.svg#steps-walter__icon_contract'
                ></use>

                <use
                  class='steps-walter__icon-img steps-walter__icon-img_work'
                  xlink:href='/icons/sprite.svg#steps-walter__icon_work'
                ></use>

                <use
                  class='steps-walter__icon-img steps-walter__icon-img_completion'
                  xlink:href='/icons/sprite.svg#steps-walter__icon_completion'
                ></use>
              </svg>

              <div class='steps-walter__icon-name-container'>
                <p
                  class='steps-walter__icon-name steps-walter__icon-name_leave-app'
                >
                  DRAFTING AN ESTIMATE
                </p>

                <p
                  class='steps-walter__icon-name steps-walter__icon-name_check'
                >
                  CHECK OUT OF THE MEASURER
                </p>

                <p
                  class='steps-walter__icon-name steps-walter__icon-name_draft'
                >
                  DRAFTING AN ESTIMATE
                </p>

                <p
                  class='steps-walter__icon-name steps-walter__icon-name_contract'
                >
                  SIGNING THE CONTRACT
                </p>

                <p class='steps-walter__icon-name steps-walter__icon-name_work'>
                  BEGINNING OF WORK
                </p>

                <p
                  class='steps-walter__icon-name steps-walter__icon-name_completion'
                >
                  COMPLETION
                </p>
              </div>

              <svg class='steps-walter__right-arrow'>
                <use
                  xlink:href='/icons/sprite.svg#steps-walter__right-arrow'
                ></use>
              </svg>
            </div>
          </div>

          <div class='steps-walter__item steps-walter__item_text'>
            <p
              class='steps-walter__icon-text steps-walter__icon-text_leave-app'
            >
              DEVELOPMENT OF TERMS OF REFERENCE, 3D VISUALIZATION AND
              CALCULATION OF THE ESTIMATE
            </p>

            <p class='steps-walter__icon-text steps-walter__icon-text_check'>
              OUR SPECIALIST COMES TO YOU AT THE OBJECT FOR MEASURING AND PHOTO
              FIXING
            </p>

            <p class='steps-walter__icon-text steps-walter__icon-text_draft'>
              DEVELOPMENT OF TERMS OF REFERENCE, 3D VISUALIZATION AND
              CALCULATION OF THE ESTIMATE
            </p>

            <p class='steps-walter__icon-text steps-walter__icon-text_contract'>
              AGREEMENT OF THE COST AND DATE OF COMPLETION OF WORKS, SIGNING OF
              THE CONTRACT
            </p>

            <p class='steps-walter__icon-text steps-walter__icon-text_work'>
              START OF REPAIR WORKS UNDER THE SUPERVISION OF A PERSONAL
              SUPERVISOR
            </p>

            <p
              class='steps-walter__icon-text steps-walter__icon-text_completion'
            >
              COMPLETION OF REPAIRS, REMOVAL OF CONSTRUCTION rubbish
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='swiper-slide-contact-form contact-form contact-form-hidden'>
    <form class='contact-form__body'>
      <div class='contact-form__item contact-form__item_input'>
        <input class='contact-form__input' placeholder='Your name' />
        <p type='number' class='contact-form__input-error-text'>
          Заполните, пожалуйста, это поле.
        </p>
      </div>

      <div class='contact-form__item contact-form__item_input'>
        <input
          class='contact-form__input contact-form__input_modified'
          placeholder='Your phone number'
        />
        <p type='number' class='contact-form__input-error-text'>
          Заполните, пожалуйста, это поле.
        </p>
      </div>

      <div class='contact-form__item'>
        <button class='contact-form__button' type='submit'>
          <span> Discuss a Project </span>

          <div class='contact-form__button-arrow-wrapper'>
            <svg class='contact-form__button-arrow'>
              <use
                xlink:href='/icons/sprite.svg#contact-form__button-arrow'
              ></use>
            </svg>
          </div>
        </button>
      </div>
    </form>
  </section>
</div>