<section class='swiper-main__welcome welcome-main'>
  <picture class='welcome-main__image-bg-wrapper'>
    <source
      type='image/webp'
      srcset='
          /img/welcome-main/welcome-main-bg.webp    1x,
          /img/welcome-main/welcome-main-bg@2x.webp 2x
        '
      media='(min-width: 1025px)'
    />

    <source
      type='image/webp'
      srcset='
          /img/welcome-main/welcome-main-bg-medium.webp    1x,
          /img/welcome-main/welcome-main-bg-medium@2x.webp 2x
        '
      media='(min-width: 451px) and (max-width: 1024px)'
    />

    <source
      type='image/webp'
      srcset='
          /img/welcome-main/welcome-main-bg-small.webp    1x,
          /img/welcome-main/welcome-main-bg-small@2x.webp 2x
        '
      media='(max-width: 450px)'
    />

    <source
      type='image/jpeg'
      srcset='
          /img/welcome-main/welcome-main-bg-medium.jpg    1x,
          /img/welcome-main/welcome-main-bg-medium@2x.jpg 2x
        '
      media='(min-width: 451px) and (max-width: 1024px)'
    />

    <source
      type='image/jpeg'
      srcset='
          /img/welcome-main/welcome-main-bg-small.jpg    1x,
          /img/welcome-main/welcome-main-bg-small@2x.jpg 2x
        '
      media='(max-width: 450px)'
    />

    <img
      class='welcome-main__image-bg'
      srcset='
          /img/welcome-main/welcome-main-bg.jpg    1x,
          /img/welcome-main/welcome-main-bg@2x.jpg 2x
        '
      alt='img'
    />
  </picture>

  <div class='welcome-main__container'>
    <div class='welcome-main__body'>
      <p class='welcome-main__text'>ремонт квартир под ключ</p>

      <h1 class='welcome-main__title'>
        <span class='welcome-main__title-left'>walter</span>

        <span class='welcome-main__title-small'>your personal</span>

        <span class='welcome-main__title-left-margin'>house</span>
      </h1>
    </div>
  </div>
</section>