$white: rgba(255, 255, 255, 1);
$white-first-opacity: rgba(255, 255, 255, 0);
$white-second-opacity: rgba(255, 255, 255, 0.2);
$black: rgba(0, 0, 0, 1);
$secondary-color: rgba(255, 172, 48, 1);
$secondary-hover-color: rgb(255, 196, 108);
$third-hover-color: rgb(255, 223, 174);
