$main-line: rgba(255, 255, 255, 0.25);
$second-line: rgba(255, 255, 255, 0.5);
$third-line: rgba(255, 255, 255, 0.4);
$forth-line: rgba(0, 0, 0, 0.15);
$fiveth-line: rgba(255, 255, 255, 0.3);
$call-icon-bg: rgba(255, 255, 255, 0.15);

$main-bg-color: rgba(0, 0, 0, 0.487);
$second-bg-color: rgba(255, 255, 255, 0.25);
