$min-width: 320px;
// Ширина полотна (макету)

$max-width-container: 1564px;

// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)

$container-padding: 15px;

$sm-container-padding: 10px;

// Ширина спрацьовування першого брейкпоінту

$pc: $max-width-container;
$fullPc: $pc + $container-padding + $container-padding;

// ПК, ноутбуки, деякі планшети у горизонтальному положенні

$markup-width: 1919px;
$tablet: 1024px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobile-small: 479.98px; // Телефони S
$mobile-super-small: 374.98px;
